<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://unsplash-img-handler.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9567402a-c5f5-41fa-b581-ba321d0653f2/resourceGroups/UnsplashImages/providers/Microsoft.Web/sites/unsplash-img-handler</ResourceId>
    <UserName>$unsplash-img-handler</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://unsplash-img-handler.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>